{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <form method="post" action="/shortUrl">
            <label>Short url
                <input class="form-control" name="link" type="text" placeholder="input link to short">
            </label>
            <input class="btn btn-success" type="submit" value="short url">
        </form>
    </div>
{% endblock %}