{% extends 'base.html.twig' %}
{% block content %}

    <div class="container">
        <h2>Statistic</h2>

    {% if stat %}

        {% for s in stat %}
            <div class="row">
                Visited from ip: {{ s.ip }} at {{ s.dateVisit|date }}
            </div>
        {% endfor %}

    {% else %}
        <p>Stat is empty</p>
    {% endif %}
    </div>
{% endblock %}